<navbar class="p-2 d-flex flex-row justify-content-between align-items-center">
  <div class="d-flex flex-row">
    <a href="/gomama/" class="mx-3">Accueil</a>
    <a href="/gomama/create" class="mx-3">Formulaire</a>
  </div>
</navbar>
